#container{
    display: flex;
    flex-wrap: wrap;
}
#container > *{
    width: calc(100% / 10 - 5rem);
    min-width: fit-content;
    height: 40px;
    margin: 1rem;
    padding: 1rem;
    background-color: aquamarine;
    display: grid;
    place-content: center;
    border:.5rem dashed #0000;
}
#container > .fizz{
    background-color: #fffd7f;
    border-radius: 50%;
    animation: rotation 1.5s infinite;
}
#container > .buzz{
    background-color: #7f94ff;
    position: relative;
    animation: rotate-n-buzz 3s infinite;
}
/* hands */
#container .hand{
    position: absolute;
    width: 30px;
    height: 30px;
}
#container .hand-tl{
    top:0;
    left:0;
    transform: translate(-20%, -80%);
}
#container .hand-tr{
    top:0;
    right: 0;
    transform: translate(20%, -80%) rotateY(180deg);
}
#container .hand-bl{
    bottom:0;
    left: 0;
    transform: translate(-20%, 80%) rotateY(180deg) rotateZ(180deg);
}
#container .hand-br{
    bottom:0;
    right: 0;
    transform: translate(20%, 80%) rotateZ(180deg);
}



#container > .buzz:hover{
    border-color: rebeccapurple;
    cursor: pointer;
}
#container > .fizzbuzz{
    background-color: #ff7f7f;
    animation: bounce .4s ease-out alternate infinite;
}

@keyframes rotation{
    0%{
        transform: rotate(0deg);
    }
    12.5%{
        transform: rotate(45deg);
    }
    25%{
        transform: rotate(0deg);
    }
    37.5%{
        transform: rotate(-45deg);
    }
    50%{
        transform: rotate(0deg);
    }
    62.5%{
        transform: rotate(45deg);
    }
    75%{
        transform: rotate(0deg);
    }
    87.5%{
        transform: rotate(-45deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

@keyframes bounce{
    from{
        transform: scale(1);
        box-shadow: none;
    }
    to{
        transform: scale(1.2);
        box-shadow: 0 0 10px 5px #0003;
    }
}

@keyframes rotate-n-buzz{
    0%{
        transform: rotate(0deg);
    }
    10%{
        transform: rotate(45deg);
    }
    20%{
        transform: rotate(0deg);
    }
    30%{
        transform: rotate(-45deg);
    }
    40%{
        transform: rotate(0deg);
    }
    /* buzz */
    41%{
        transform: rotate(2deg);
    }
    41.5%{
        transform: rotate(-2deg);
    }
    43%{
        transform: rotate(2deg);
    }
    44.5%{
        transform: rotate(-2deg);
    }
    46%{
        transform: rotate(2deg);
    }
    47.5%{
        transform: rotate(-2deg);
    }
    49%{
        transform: rotate(2deg);
    }
    49.5%{
        transform: rotate(-2deg);
    }
    51%{
        transform: rotate(2deg);
    }
    51.5%{
        transform: rotate(-2deg);
    }
    53%{
        transform: rotate(2deg);
    }
    54.5%{
        transform: rotate(-2deg);
    }
    56%{
        transform: rotate(2deg);
    }
    57.5%{
        transform: rotate(-2deg);
    }
    59%{
        transform: rotate(2deg);
    }
    59.5%{
        transform: rotate(-2deg);
    }
    /* end buzz */
    60%{
        transform: rotate(0deg);
    }
    70%{
        transform: rotate(45deg);
    }
    80%{
        transform: rotate(0deg);
    }
    90%{
        transform: rotate(-45deg);
    }
    100%{
        transform: rotate(0deg);
    }
}